/*main-------------*/
.font-b {
  font-weight: bold;
}
.main-box {
  padding-bottom: 150px;
}
.main-box label {
  margin-bottom: 1rem;
  line-height: 3;
}
.main-title {
  text-align: center;
}
.each-article {
  padding: 2rem;
  margin: 2rem 0;
  width: 27%;
}
.each-article h1 {
  margin-top: 0;
}
.article-content {
  padding: 1rem;
}
.top-posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 90%;
  margin: auto;
}

.post-content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.link {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}
.post-bottom {
  display: flex;
  justify-content: flex-end;
  font-size: 13px;
}
.post-img {
  width: 100%;
  height: 300px;
  margin: 0 auto 2rem;
  overflow: hidden;
}
.auth-edit {
  position: relative;
}
.auth-edit-link {
  float: left;
  position: absolute;
  bottom: 0;
}
.edit-icon{
  color:#331a00;
}


@media screen and (max-width: 1240px) {
  .post-img {
    height: 200px;
  }
}

@media screen and (max-width: 1080px) {
  .top-posts {
    width: 95%;
  }
}
@media screen and (max-width: 480px) {
  .top-posts {
    display: block;
  }
  .each-article {
    padding: 0;
    margin: 2rem auto;
    width: 90%;
  }
}
