/*main-------------*/
.font-b {
  font-weight: bold;
}
.main-box {
  padding-top: 100px;
  padding-bottom: 150px;
  background-image: url("../../img/bg-img.jpg");
  background-repeat: repeat;
  background-size: contain;
  background-position-x: center;
}
.main-box label {
  margin-bottom: 1rem;
  line-height: 3;
}
.main-title {
  text-align: center;
}
.each-article {
  padding: 2rem;
  margin: 2rem 0;
  width: 27%;
}
.each-article h1 {
  margin-top: 0;
}
.article-content {
  padding: 1rem;
}
.top-posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 90%;
  margin: auto;
}

.post-content {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
.link {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}
.post-bottom {
  display: flex;
  justify-content: flex-end;
  font-size: 13px;
}
.post-img {
  width: 100%;
  height: 300px;
  margin: 0 auto 2rem;
  overflow: hidden;
}

@media screen and (max-width: 1240px) {
  .post-img {
    height: 200px;
  }
}

@media screen and (max-width: 1080px) {
  .top-posts {
    width: 95%;
  }
}
