






/*edit post*/




@media screen and (max-width: 1080px){
    .top-posts{
        width: 95%;
    }
    .each-article {
        padding: 1rem;
    }
    .each-article h1 {
        font-size: 23px;
    }
}

@media screen and (max-width: 480px){
    .main-box {
        margin-top: 30px;
    }

    .each-article {
        margin: 1rem 0;
        width: 100%;
    }
}